In [6]:
%matplotlib inline
import pandas as pd
from pandas.plotting import scatter_matrix
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

df_rede = pd.read_csv("Dados-Dados.csv", encoding = "UTF-8", sep = ",")
#Somente as colunas que interessam para a classificação
df_rede = df_rede[['sex','age','address','famsize','Pstatus','Medu','Fedu','Mjob','Fjob','reason','guardian','traveltime','studytime','failures','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic','famrel','freetime','goout','Dalc','Walc','health','absences','G1','G2','G3']]

In [7]:
df_rede.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,home,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,home,...,4,3,2,1,2,5,4,6,10,10

In [8]:
# Informaçoes sobre a base:

df_rede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    object
 1   age         395 non-null    int64
 2   address     395 non-null    object
 3   famsize     395 non-null    object
 4   Pstatus     395 non-null    object
 5   Medu        395 non-null    int64
 6   Fedu        395 non-null    int64
 7   Mjob        395 non-null    object
 8   Fjob        395 non-null    object
 9   reason      395 non-null    object
 10  guardian    395 non-null    object
 11  traveltime  395 non-null    int64
 12  studytime   395 non-null    int64
 13  failures    395 non-null    int64
 14  schoolsup   395 non-null    object
 15  famsup      395 non-null    object
 16  paid        395 non-null    object
 17  activities  395 non-null    object
 18  nursery     395 non-null    object
 19  higher      395 non-null    object
 20  internet    395 non-null    object
 21  romantic    395 non-null    object
 22  famrel      395 non-null    int64
 23  freetime    395 non-null    int64
 24  goout       395 non-null    int64
 25  Dalc        395 non-null    int64
 26  Walc        395 non-null    int64
 27  health      395 non-null    int64
 28  absences    395 non-null    int64
 29  G1          395 non-null    int64
 30  G2          395 non-null    int64
 31  G3          395 non-null    int64
dtypes: int64(16), object(16)
memory usage: 98.9+ KB

In [9]:
X_train, X_test, y_train, y_test = train_test_split(df_rede.drop('sex',axis=1),df_rede['sex'],test_size=0.3)

In [10]:
X_train.shape,X_test.shape

((276, 31), (119, 31))

In [12]:
y_train.shape,y_test.shape

((276,), (119,))

In [13]:
clf = DecisionTreeClassifier()

In [14]:
clf = clf.fit(X_train,y_train)

ValueError: could not convert string to float: 'R'